@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    height: 950px;
    width: 414px;

    background-color: #E5E5E5;
    
}
/*CAIXA DO TOPO*/
.caixa-topo{
    height: 92px;
    width: 414px;

    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: #CF2B2B;

    z-index: 999;
}

.caixa-topo h1{
font-family: Righteous;
font-size: 44px;
line-height: 55px;
letter-spacing: -0.012em;

padding-left: 21px;
padding-top: 8px;
color: white;

z-index: 1000;
}

.caixa-topo h2{
font-family: Roboto;
font-weight: 400;
font-size: 18px;
line-height: 5px;

padding-left: 21px;
padding-bottom: 18px;

color: white;
z-index: 1001;
}
/*FIM DA CAIXA DO TOPO*/

/*CAIXA GRANDE COM A FILEIRA DE OPÇÕES*/
.fileira-de-opçoes{
    display: flex;

    width: 414px;
    height: auto;

    margin-bottom: -120px;

    overflow-x: scroll;
}

/*INICIO DA ESCOLHA DO PRATO*/
.titulo-das-escolhas  p{
font-family: Righteous;
font-size: 26px;
line-height: 32px;
letter-spacing: 0.018em;

margin: 123px 0px 10px 19px;
/*COLOQUEI 92px A MAIS POR CONTA DO "FIXED"*/
color: #333333;
}


.caixa-prato {
    height: 216px;
    width: 172px;

    position: relative;   
    
    margin: 0px -3px 27px 19px;
    
    box-shadow: 0px 7px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    background-color: white;
}

.caixa-prato:hover{
    cursor: pointer; 
}


.caixa-prato img{
    width: 144px;
    height: 87px;

    margin: 18px 9px 8px 9px;

    border-radius: 4px;
}
/*ESSA DIV SO VAI SER PRAS IMAGENS DAS BEBIDAS*/
.acertando-imagem-bebidas img{
    object-fit:contain;
}

.caixa-prato h1{
font-family: Roboto;
font-weight: bold;
font-size: 16px;
line-height: 19px;

margin: 0 18px 4px 15px;

color: #333333;
}

.caixa-prato h2 {
font-family: Roboto;
font-weight: 300;
font-size: 15px;
line-height: 18px;

margin: 0px 11px 5px 14px;

color: #A6A6A6;
}

.caixa-prato p{
font-family: Roboto;
font-size: 16px;
line-height: 19px;

margin-left: 14px;
margin-top: 10px;

color: #000000;
}

.barra-final {
    height: 92px;
    width: 414px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: white;
}

.caixa-cinza-final {
    width: 364px;
    height: 61px;

    border-radius: 50px;
      
    background-color: #cbcbcb;
}

.caixa-cinza-final p{
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

    text-align: center;
    margin-top: 30.5px;
    transform: translateY(-50%);

    color: white;
    
}


/*classes que vao entrar ao clicar*/
/*MODIFICAÇÕES AO ESTAREM AS 3 SELECIONADAS "true"*/
.caixa-verde-final {
    width: 364px;
    height: 61px;

    border-radius: 50px;
      
    background-color: #32B72F;
}

.caixa-verde-final p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

    color: white;
}
/*FIM DAS MODIFICAÇÕES AO ESTAREM AS 3 SELECIONADAS "true"*/
/*INICIO DA BARRINHA VERDE DE CONTORNO AO CLICAR*/
.borda-verde-P{
    
   box-shadow: inset 0px 0px 0px 5px #32B72F;
}
.borda-verde-B{
    
    box-shadow: inset 0px 0px 0px 5px #32B72F;
 }
 .borda-verde-S{
    
    box-shadow: inset 0px 0px 0px 5px #32B72F;
 }

.icone-check{
    /*<ion-icon name="checkmark-circle-outline"></ion-icon>*/
    position: absolute;
    right: 10px;
    bottom: 10px;
    
    color:#32B72F;

    font-size: 20px;
}

.escondido{
    display: none;
}


/*FIM DA BARRINHA VERDE DE CONTORNO AO CLICAR*/
/*fim das classes q vao entrar ao clicar*/